.DS_Store

.backup
#  var .terraform directories
**/.terraform/*
**node_modules
kubeconfig_microenterprise-dev
kubeconfig_microenterprise-staging
kubeconfig_microenterprise-production
terraform.tfstate
terraform.tfstate.backup

*.env